@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color1: rgb(15, 201, 15);
    --color2: rgb(2, 2, 2);
    --color3: rgb(19, 31, 71);
}


html {
    scroll-behavior: smooth;
}

body {
    background: var(--color2);
    margin: 0;
    padding: 0;
}

.cabeçalho {
    margin: 0;
    width: 100%;
    min-width: 700px;
    max-width: 1368px;
    height: 70px;
    max-height: 100px;
}

/* Estilos Cabeçalho */

.tit1 {
    margin-top: 2%;
    margin-left: -1%;
}

.title {
    margin-top: 20px;
    margin-left: 30px;
    font-size: 40px;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: var(--color1);
}

.list1 {
    margin: -4% auto;
}

.link {
    margin-top: -4%;
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.menu_lista {
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    display: inline-block;
}

.menu_link {
    color: var(--color1);
    text-decoration: none;
    transition: 0.2s ease;
    cursor: pointer;
}

.menu_link:hover {
    color: rgb(116, 255, 24);
}

/*---------- Final dos Estilos ------------*/

.main {
    border: 1px solid transparent;
}

.tamanho {
    font-size: 25px;
    margin-left: 82%;
    margin-top: 3%;
    color: var(--color1);
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    width: 80px;
}

.relogio {
    display: flex;
    gap: 1px;
}

.container_title_texto {
    margin-left: 50%;
    margin-top: 7%;
    height: 35vh;
    width: 100%;
    margin-right: 1%;
    text-align: center;
    color: var(--color1);
}

.title_texto {
    width: 100%;
    height: 25vh;
    margin: auto;
    text-align: center;
    transform: translate(-50%, -50%)
}

.title_texto_destaque {
    font-size: 2em;
}

.title_texto_nome {
    margin-top: 5%;
    font-size: 3em;
}

.title_texto_descricao {
    margin-top: 7%;
    font-size: 2em;
}

.title_texto_nome::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}


/*---------------- Menu da 1 Section ---------------- */

#Menu {
    margin: 140px auto;
    width: 100%;
    max-width: 1368px;
    min-width: 700px;
}

.title1 {
    color: var(--color1);
    margin-left: 42%;
    font-size: 40px;
    font-weight: bold;
    width: 192px;
}

.container {
    width: 100%;
    margin: auto;
}

.img1 {
    background: linear-gradient(to right, #80d6a4, #bf6ee4);
    width: 250px;
    margin-left: 65%;
    border: 4px groove rgb(0, 0, 0);
    border-radius: 20%;
    box-shadow: 10px 8px 15px 8px black;
}

.text1 {
    width: 250px;
    margin-left: 67%;
    font-size: 30px;
    color: var(--color1);
}

.subtext {
    margin-left: 64%;
    width: 350px;
    font-style: italic;
    font-size: 20px;
    color: rgb(221, 209, 36);
}


.text2 {
    color: rgb(215, 240, 215);
    margin-left: 8%;
    margin-top: -30%;
    font-size: 35px;
    width: 620px;
    background: linear-gradient(to top, transparent, #165e34, #238528, #121a08);
    border-radius: 25px;
}

/*---------------- Fim da 1 Section Style --------------*/

#Project {
    margin: 20% auto;
    width: 100%;
    max-height: 1000px;
    height: 900px;
}

.title2 {
    margin-top: 25%;
    margin-left: 43%;
    font-size: 40px;
    color: var(--color1);
    width: 142px;
}

.container2 {
    width: 100%;
    margin-top: 40%;
    margin-left: 48%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container2 img,
.container2 a {
    display: block;
    margin: 2% auto;
}

.project1,
.project2,
.project3 {
    width: 400px;
    border: 6px groove rgb(146, 153, 153);
    border-radius: 10px;
}

.link1,
.link2,
.link3 {
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 25px;
    font-family: "Press Start 2P", system-ui;
    text-decoration: none;
    color: var(--color1);
    transition: 0.2s ease;
}

a:hover {
    color: #d8d51a;
}

/*---------------------- Fim da Section "Projetos" ------------------*/

#Formation {
    margin: 15% auto;
    width: 100%;
    height: 500px;
    max-height: 600px;
}

.formations {
    display: inline-block;
    margin: auto;
    margin-top: 5%;
    margin-left: 25%;
}

.title3 {
    margin: 5% auto;
    text-align: center;
    font-size: 40px;
    color: var(--color1);
}

.diploma {
    margin: auto;
    width: 600px;
    border: 6px groove rgb(95, 177, 95);
    box-shadow: 4px 6px 15px 2px rgb(40, 83, 40);
}


/*------------------- Fim da Section "formações" -------------------*/

#Contato {
    margin: 10% auto;
    width: 100%;
    height: 500px;
    max-width: 1380px;
    min-height: 200px;
}

.contatos {
    margin: 10px;
    display: inline-block;
    margin-left: 18%;
    gap: 10px;
}

.title4 {
    margin: 20% auto;
    text-align: center;
    font-size: 40px;
    color: var(--color1);
    width: 155px;
}

.container3 {
    margin-top: -5%;
    text-align: center;
}

.linkedin,
.github,
.instagram,
.whatsapp {
    width: 200px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: 0.2s ease;
}

.linkedin:hover,
.github:hover,
.whatsapp:hover,
.instagram:hover {
    border: 1px solid transparent;
    box-shadow: 1px 4px 25px 5px rgb(52, 124, 52);
    background-color: #4b802f;
    border-radius: 20%;
}

.whatsapp {
    border: 1px solid black;
    border-radius: 80px;
}

/*------------------- Fim da Section "contatos" -------------------*/

.rodape {
    margin: auto;
    width: 100%;
    text-align: center;
}

.title5 {
    left: 85vh;
    color: var(--color1);
}

.text3 {
    left: 60vh;
    color: var(--color1);
}

.text4 {
    left: 92vh;
    color: var(--color1);
}

#back-to-top {
    position: fixed;
    bottom: 30px;
    right: 50px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: var(--color1);
    background: transparent;
    border: 1px solid var(--color1);
    border-radius: 100px;
    cursor: pointer;
}