/* Para telas maiores - o relógio à esquerda */
@media (min-width: 769px) {
  #nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #digitalClock {
    order: 1;
    margin-right: auto;
  }

  .toggle-icon {
    order: 2;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  header {
    background: transparent;
    /* Fundo transparente inicialmente */
    transition: background 0.3s ease;
    /* Adiciona uma transição suave para a mudança de cor */
    flex-direction: column;
    align-items: flex-start;
  }

  body {
    background: #222;
    padding: 20px;
    font-size: 10px;
    /* Aumente para escalar o toggle-icon */
  }

  .container.shift {
    margin-top: 150px;
    /* Ajuste este valor conforme necessário */
    transition: margin-top 0.3s ease;
    /* Transição suave para o deslocamento */
  }

  #digitalClock {
    font-size: 20px;
    padding: 8px 15px;
    order: 2;
    margin-top: 10px;
    margin-right: 0;
  }

  #nav-container {
    flex-direction: column;
    align-items: center;
  }

  /* Toggle-icon */
  .toggle-icon {
    display: block;
    width: 40px;
    /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
  }

  .toggle-icon .bar {
    display: block;
    width: 100%;
    height: 4px;
    /* Espessura da barra */
    background-color: #fff;
    /* Cor das barras */
    margin: 5px 0;
    /* Margem entre as barras */
    transition: transform 0.3s ease;
  }

  /* CSS existente para o pushed */
  .pushed {
    margin-top: 10px;
    /* Ajuste este valor conforme necessário */
  }

  .container {
    margin-top: 0;
    /* Reset para garantir que não haja margem por padrão */
    transition: margin-top 0.3s ease;
    /* Suaviza a animação da margem */
  }

  .container {
    transition: margin-top 0.3s ease;
    /* Transição suave para o deslocamento */
  }

  .pushed .container {
    margin-top: 150px;
    /* Espaço criado para não sobrepor o cabeçalho */
  }

  /* Exibir o menu apenas para telas pequenas */
  .sub-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    background-color: black;
    position: absolute;
    top: 10px;
    /* Ajuste conforme necessário */
    right: 130px;
    /* Ajuste conforme necessário */
  }

  .sub-menu.show {
    display: block;
    /* Exibe a lista quando a classe 'show' é adicionada */
  }

  .pushed .sub-menu {
    display: block;
    /* Exibe o menu quando ativado */
  }

  .pushed header {
    background: #333;
    /* Muda a cor de fundo quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(1) {
    opacity: 0;
    /* Oculta a primeira barra quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(2) {
    transform: rotate(-45deg);
    /* Rotaciona a segunda barra */
  }

  .pushed .toggle-icon .bar:nth-of-type(3) {
    transform: rotate(45deg);
    /* Rotaciona a terceira barra */
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .main {
    height: 750px;
  }

  .container {
    margin-right: 100px;
    /* Mantém o container centralizado */
    padding: 15px;
    width: 320px;
    height: 250px;
    /* Margem de 5% para manter o container distante das bordas */
  }

  /* Reduz o tamanho das imagens um pouco mais para telas médias */
  .skills,
  .social-media {
    width: 40px;
  }

  .skills-container,
  .social-media-container {
    gap: 20px;
    /* Reduz o espaço entre as imagens */
  }

  #digitalClock {
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {

  /* Ajuste para telas pequenas */
  .container {
    margin: 80px 3px;
    /* 3px de margem lateral */
    padding: 10px;
    max-width: calc(100% - 6px);
    /* Calcula 100% menos 6px para dar margem de 3px de cada lado */
  }

  #digitalClock {
    font-size: 18px;
    padding: 6px 10px;
  }

  /* Reduz ainda mais o tamanho das imagens para dispositivos móveis */
  .skills,
  .social-media {
    width: 30px;
  }

  .skills-container,
  .social-media-container {
    gap: 5px;
    /* Menor espaçamento entre as imagens */
  }

  /* Ajustes para o GIF */
  .gif {
    display: block;
    width: 100%;
    max-width: 300px;
    /* Limita o tamanho máximo do GIF */
    margin: 20px auto;
    /* Centraliza o GIF e adiciona espaço entre ele e o container */
  }

  #backToTop {
    bottom: 10px;
    right: 10px;
    padding: 8px;
  }
}