/* Para telas grandes até 2440px de largura */
@media (min-width: 1980px) {
  body {
    max-width: 1920px;
    max-width: 1980px;
    margin: 0 auto;
    padding: 0;
    background-size: cover;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    /* Remove margens */
  }

  .container {
    width: 550px;
    height: 200px;
    height: auto;
    margin-left: -650px;
    margin-top: -50px;

  }

  .skills-container,
  .social-media-container {
    gap: 30px;
  }

  .skills,
  .social-media {
    width: 60px;
    height: auto;
  }

  .gif {
    max-width: 500px;
    margin-left: 550px;
    margin-top: -450px;
  }

  header {
    height: 60px;
  }

  header,
  footer {
    width: 100%;
    margin: 0;
    /* Remove margens */
    padding: 0;
    /* Remove padding */
    text-align: center;
    display: flex;
    /* Usar flexbox */
    justify-content: center;
    /* Centraliza horizontalmente */
    align-items: center;
    /* Centraliza verticalmente */
  }
}

@media (max-width: 768px) {
  header {
    background: transparent;
    /* Fundo transparente inicialmente */
    transition: background 0.3s ease;
    /* Adiciona uma transição suave para a mudança de cor */
  }

  body {
    background: #222;
    padding: 0px;
    font-size: 10px;
    max-width: 768px;
    /* Aumente para escalar o toggle-icon */
  }

  footer {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #nav-container {
    position: absolute;
    top: 20px;
    /* Alinhado ao topo */
    left: 20px;
    /* Alinhado à esquerda */
  }

  /* Toggle-icon */
  .toggle-icon {
    display: block;
    margin-left: 5px;
    margin-top: 15px;
    width: 40px;
    /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
  }

  .toggle-icon .bar {
    display: block;
    width: 100%;
    height: 4px;
    /* Espessura da barra */
    background-color: #fff;
    /* Cor das barras */
    margin: 5px 0;
    /* Margem entre as barras */
    transition: transform 0.3s ease;
  }

  /* Exibir o menu apenas para telas pequenas */
  .sub-menu {
    display: none;
    /* Oculta a lista por padrão */
    list-style-type: none;
    /* Remove a marcação da lista */
    padding: 0;
    /* Remove o padding */
    text-align: center;
    /* Centraliza os links */
    margin-left: 5px;
    margin-top: 60px;
    /* Remove margem para centralizar */
    border: 1px solid black;
    background-color: black;
    transition: max-height 0.5s ease-out;
    /* Animação suave */
  }

  .link {
    font-size: 20px;
  }

  .sub-menu.show {
    display: block;
    /* Exibe a lista quando a classe 'show' é adicionada */
  }

  .pushed .sub-menu {
    display: block;
    /* Exibe o menu quando ativado */
  }

  .pushed header {
    background: #333;
    /* Muda a cor de fundo quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(1) {
    opacity: 0;
    /* Oculta a primeira barra quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(2) {
    transform: rotate(-45deg);
    /* Rotaciona a segunda barra */
  }

  .pushed .toggle-icon .bar:nth-of-type(3) {
    transform: rotate(45deg);
    /* Rotaciona a terceira barra */
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .main {
    height: 750px;
  }

  .container {
    margin-left: 90px;
    /* Mantém o container centralizado */
    width: 340px;
    height: 280px;
    /* Margem de 5% para manter o container distante das bordas */
  }

  /* Reduz o tamanho das imagens um pouco mais para telas médias */
  .skills,
  .social-media {
    width: 80px;
  }

  .social-media {
    width: 125px;
  }

  .skills-container,
  .social-media-container {
    gap: 20px;
    /* Reduz o espaço entre as imagens */
  }

  #backToTop {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: transparent;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 60%;
    display: none;
    /* Inicialmente oculto */
    cursor: pointer;
    z-index: 1000;
    transition: 0.8s ease;
  }
}

@media screen and (max-width: 420px) {
  body {
    width: 100vw;
    margin: 0;
    padding: 0;
  }

  .main {
    height: 750px;
  }

  main {
    /* O main ocupará a altura total da viewport */
    min-height: 100vh;
    /* O main agora ocupará a altura total, descontando o tamanho do footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    margin-top: 20px;
    /* Margem superior do main para dar espaço antes dos elementos */
  }

  .sub-menu {
    display: none;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin-top: 100px;
  }

  .container {
    height: 300px;
    width: 100%;
    max-width: 270px;
    margin: 150px auto 0;
    /* Adiciona uma margem superior maior */
  }

  .skills,
  .social-media {
    width: 30px;
  }

  .skills-container,
  .social-media-container {
    margin-top: 10px;
    gap: 5px;
    display: flex;
    justify-content: center;
  }

  .gif {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    margin-bottom: 90px;
    margin-top: 60px;
  }

  .text {
    font-size: 14px;
    text-align: center;
  }

  #backToTop {
    position: fixed;
    bottom: 90px;
    right: 40px;
    z-index: 1000;
    /* Para garantir que o botão sempre esteja visível acima dos outros elementos */
  }

  footer {
    width: 100%;
    text-align: center;
    /* Cor de fundo do footer */
    position: relative;
    /* Pode ser alterado para sticky ou fixed conforme a necessidade */
    bottom: 0;
  }
}