/* responsive.css */

@media (max-width: 768px) {
  body {
    background: #222;
    padding: 20px;
    /* Ajuste o padding se necessário */
    font-size: 10px;
    /* Aumente para escalar o toggle-icon */
  }

  #nav-container {
    position: absolute;
    top: 20px;
    /* Alinhado ao topo */
    left: 20px;
    /* Alinhado à esquerda */
  }

  /* Toggle-icon */
  .toggle-icon {
    display: block;
    width: 40px;
    /* Ajuste o tamanho conforme necessário */
    cursor: pointer;
  }

  .toggle-icon .bar {
    display: block;
    width: 100%;
    height: 4px;
    /* Espessura da barra */
    background-color: #fff;
    /* Cor das barras */
    margin: 5px 0;
    /* Margem entre as barras */
    transition: transform 0.3s ease;
  }

  /* Exibir o menu apenas para telas pequenas */
  .sub-menu {
    display: none;
    /* Oculta a lista por padrão */
    list-style-type: none;
    /* Remove a marcação da lista */
    padding: 0;
    /* Remove o padding */
  }

  .sub-menu.show {
    display: block;
    /* Exibe a lista quando a classe 'show' é adicionada */
  }

  .pushed .sub-menu {
    display: block;
    /* Exibe o menu quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(1) {
    opacity: 0;
    /* Oculta a primeira barra quando ativado */
  }

  .pushed .toggle-icon .bar:nth-of-type(2) {
    transform: rotate(-45deg);
    /* Rotaciona a segunda barra */
  }

  .pushed .toggle-icon .bar:nth-of-type(3) {
    transform: rotate(45deg);
    /* Rotaciona a terceira barra */
  }
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .main {
    height: 750px;
  }

  .container {
    margin-right: 100px;
    /* Mantém o container centralizado */
    padding: 15px;
    width: 320px;
    height: 250px;
    /* Margem de 5% para manter o container distante das bordas */
  }

  /* Reduz o tamanho das imagens um pouco mais para telas médias */
  .skills,
  .social-media {
    width: 40px;
  }

  .skills-container,
  .social-media-container {
    gap: 20px;
    /* Reduz o espaço entre as imagens */
  }
}

@media screen and (max-width: 480px) {

  /* Ajuste para telas pequenas */
  .container {
    margin: 80px 3px;
    /* 3px de margem lateral */
    padding: 10px;
    max-width: calc(100% - 6px);
    /* Calcula 100% menos 6px para dar margem de 3px de cada lado */
  }

  /* Reduz ainda mais o tamanho das imagens para dispositivos móveis */
  .skills,
  .social-media {
    width: 30px;
  }

  .skills-container,
  .social-media-container {
    gap: 5px;
    /* Menor espaçamento entre as imagens */
  }

  /* Ajustes para o GIF */
  .gif {
    display: block;
    width: 100%;
    max-width: 300px;
    /* Limita o tamanho máximo do GIF */
    margin: 20px auto;
    /* Centraliza o GIF e adiciona espaço entre ele e o container */
  }
}